In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv('/content/drive/Shareddrives/날씨빅데이터티이임/최종데이터.csv')

In [4]:
df

,Unnamed: 0,날짜,날짜_연도,날짜_월,날짜_일,시간_분,관측소지점,경도,위도,자외선지수,...,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,계절
0,0,20200101,2020,1,1,0,13,126.16000,33.30000,0.0,...,269.97608,269.70811,268.61702,259.10334,165.17963,38.96359,-9.50910,71.00,0,4
1,1,20200101,2020,1,1,0,105,128.89098,37.75147,0.0,...,268.22810,268.41686,268.01723,256.99670,163.20549,43.95463,-9.40930,26.04,3,4
2,2,20200101,2020,1,1,0,108,126.96500,37.57100,0.0,...,258.33982,258.18692,257.58363,250.50021,162.48279,43.77999,-9.37761,85.50,3,4
3,3,20200101,2020,1,1,0,112,126.62490,37.47772,0.0,...,258.54927,258.64012,258.03883,251.00820,162.39995,43.67046,-9.37422,68.99,3,4
4,4,20200101,2020,1,1,0,115,130.89864,37.48129,0.0,...,264.88004,263.95472,262.33534,253.25397,164.19725,43.74521,-9.45200,222.80,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578955,1578955,20211231,2021,12,31,2350,146,127.11900,35.84080,0.1,...,264.82744,264.95943,264.36433,254.82929,162.52921,41.81018,-8.87355,62.90,3,4
1578956,1578956,20211231,2021,12,31,2350,152,129.33472,35.58250,0.0,...,259.19303,257.86443,257.39333,249.08495,163.96606,41.52495,-8.99640,82.00,2,4
1578957,1578957,20211231,2021,12,31,2350,156,126.89158,35.17294,0.0,...,260.33453,260.00405,259.18646,250.92709,162.84572,41.04849,-8.87987,72.38,3,4
1578958,1578958,20211231,2021,12,31,2350,159,129.03203,35.10468,0.0,...,259.36253,258.24370,256.93511,247.71243,164.15158,40.96396,-8.99480,69.56,3,4
1578959,1578959,20211231,2021,12,31,2350,165,126.38121,34.81689,0.0,...,264.89757,265.30934,263.65062,254.37876,162.76137,40.67788,-8.86160,38.00,3,4

In [5]:
df = df.drop(['Unnamed: 0','날짜','날짜_연도','날짜_일','시간_분','경도','위도','위성천정각','계절'], axis = 1)

In [6]:
df1 = df[(df['날짜_월']==5)|(df['날짜_월']==6)|(df['날짜_월']==7)]

In [7]:
df1.reset_index(drop=True, inplace = True)

In [8]:
df1

,날짜_월,관측소지점,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,권운_밴드,눈/얼음_가시밴드,야간안개/하층운_밴드,...,구름상_밴드,오존_밴드,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,대기외일사량,관측고도,지면타입
0,5,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,277.64337,...,276.05914,252.91737,277.63245,277.03649,275.67037,262.71147,130.35092,-6.11462,71.00,0
1,5,105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,287.64354,...,284.76266,256.69212,286.82011,287.23821,285.51819,269.40510,126.43187,-5.60867,26.04,3
2,5,108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,277.32743,...,278.59032,253.85590,281.28558,281.42512,280.03692,266.81080,126.31564,-5.59822,85.50,3
3,5,112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,278.71774,...,280.26998,254.78101,283.03827,283.39275,282.06360,268.05385,126.36437,-5.60546,68.99,3
4,5,115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,281.88250,...,275.90815,251.68704,277.82840,278.25056,275.71853,262.56565,126.91833,-5.66707,222.80,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397435,7,146,0.1,0.0,0.0,0.0,0.0,0.0,0.0,296.40523,...,289.04391,264.53165,291.90287,290.09587,285.48855,270.82702,124.36364,-4.72602,62.90,3
397436,7,152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290.86107,...,285.61006,262.88449,288.27382,286.67481,282.45891,269.23268,125.09137,-4.87156,82.00,2
397437,7,156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,292.92384,...,285.63638,262.57588,287.50208,284.96722,280.05240,267.56515,124.95628,-4.79509,72.38,3
397438,7,159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,286.67795,...,284.69604,262.22936,287.43410,286.66069,283.63739,270.60537,125.49764,-4.91507,69.56,3
397439,7,165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,282.79003,...,277.46217,258.04647,280.29423,277.57615,272.99021,263.16598,125.16440,-4.80919,38.00,3

In [9]:
df1['Band1'] = df1.iloc[:,2:6].mean(axis=1)
df1['Band2'] = df1.iloc[:,6:8].mean(axis=1)
df1['Band3'] = df1.iloc[:,8:9].mean(axis=1)
df1['Band4'] = df1.iloc[:,9:12].mean(axis=1)
df1['Band5'] = df1.iloc[:,12:18].mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [10]:
df1_1 = df1[(df1['태양천정각']>=0)&(df1['태양천정각']<=45)]
df1_1['time'] = 1
df1_2 = df1[(df1['태양천정각']>45)&(df1['태양천정각']<=90)]
df1_2['time'] = 2
df1_3 = df1[(df1['태양천정각']>90)&(df1['태양천정각']<=135)]
df1_3['time'] = 3
df1_4 = df1[(df1['태양천정각']>135)&(df1['태양천정각']<=180)]
df1_4['time'] = 4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
data = pd.concat([df1_1,df1_2,df1_3,df1_4])

In [12]:
data = pd.get_dummies(data, columns = ['관측소지점'])
data = pd.get_dummies(data , columns = ['지면타입'])
data = pd.get_dummies(data, columns = ['time'])

In [13]:
data.reset_index(drop=True,inplace = True)

In [14]:
data

,날짜_월,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,권운_밴드,눈/얼음_가시밴드,야간안개/하층운_밴드,상층_수증기_밴드,...,관측소지점_156,관측소지점_159,관측소지점_165,지면타입_0,지면타입_2,지면타입_3,지면타입_4,time_1,time_2,time_3
0,5,3.6,0.11500,0.09695,0.06914,0.08379,0.00091,0.03870,291.18537,236.60649,...,0,0,0,0,0,0,1,1,0,0
1,5,3.0,0.12689,0.11405,0.10103,0.10788,0.00091,0.08707,302.65715,244.45571,...,0,0,0,1,0,0,0,1,0,0
2,5,3.3,0.13199,0.12033,0.08136,0.17641,0.00060,0.13545,300.56866,244.38156,...,0,0,0,0,1,0,0,1,0,0
3,5,4.1,0.13596,0.12261,0.10371,0.11716,0.00121,0.07546,295.63400,246.46729,...,0,1,0,0,0,1,0,1,0,0
4,5,1.8,0.14332,0.13116,0.08702,0.10205,0.00816,0.10900,296.59473,237.99797,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397435,7,0.1,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,296.40523,236.12825,...,0,0,0,0,0,1,0,0,0,1
397436,7,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,290.86107,235.64237,...,0,0,0,0,1,0,0,0,0,1
397437,7,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,292.92384,236.60649,...,1,0,0,0,0,1,0,0,0,1
397438,7,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,286.67795,236.41609,...,0,1,0,0,0,1,0,0,0,1
397439,7,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,282.79003,236.12825,...,0,0,1,0,0,1,0,0,0,1

In [15]:
from sklearn.model_selection import cross_val_score, cross_validate,KFold,GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [16]:
X = data.drop(['자외선지수','파랑_가시밴드','초록_가시밴드','빨강_가시밴드','식생_가시밴드','권운_밴드','눈/얼음_가시밴드',
              '야간안개/하층운_밴드','상층_수증기_밴드','중층_수증기_밴드','하층_수증기_밴드','구름상_밴드','오존_밴드',
              '대기창_밴드','깨끗한_대기창_밴드','오염된_대기창_밴드','이산화탄소_밴드'], axis=1)
y = data['자외선지수']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=42)

In [18]:
import xgboost

In [19]:
model = xgboost.XGBRegressor()

In [20]:
params = {
    'n_estimators':(100, 150),
    'max_depth' : (5, 8),
    'min_samples_leaf' : (8, 18),
    'min_samples_split' : (8, 16)
}

In [21]:
grid_cv = GridSearchCV(xgboost.XGBRegressor(random_state=42), params, n_jobs=-1)
grid_cv.fit(X_train, y_train)

[07:36:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

GridSearchCV(estimator=XGBRegressor(random_state=42), n_jobs=-1,
             param_grid={'max_depth': (5, 8), 'min_samples_leaf': (8, 18),
                         'min_samples_split': (8, 16),
                         'n_estimators': (100, 150)})

In [22]:
print(grid_cv.best_params_)

{'max_depth': 8, 'min_samples_leaf': 8, 'min_samples_split': 8, 'n_estimators': 150}

In [23]:
best_gd = grid_cv.best_estimator_

In [24]:
xgb_g = grid_cv.best_estimator_
print(xgb_g.score(X_test, y_test))

0.999714027594083

In [25]:
# test
y_preds1 = xgb_g.predict(X_test)
mse = mean_squared_error(y_test, y_preds1)
rmse = np.sqrt(mse)
r2_points = r2_score(y_test, y_preds1)
print("RMSE:", rmse)
print("R^2:", r2_points)

RMSE: 0.04343365212541033
R^2: 0.999714027594083

In [26]:
# train
y_preds2 = xgb_g.predict(X_train)
mse = mean_squared_error(y_train, y_preds2)
rmse = np.sqrt(mse)
r2_points = r2_score(y_train, y_preds2)
print("RMSE:", rmse)
print("R^2:", r2_points)

RMSE: 0.03644435895969169
R^2: 0.9998002266772837