In [14]:
import pandas as pd
data = pd.read_csv('C:/Users/pcy07/OneDrive/바탕 화면/2022 날씨공모전/검증/202206_uv.csv')

In [15]:
data.head()

,YearMonthDayHourMinute,STN,Lon,Lat,UV,Band1,Band2,Band3,Band4,Band5,Band6,Band7,Band8,Band9,Band10,Band11,Band12,Band13,Band14,Band15,Band16,SolarZA,SateZA,ESR,Height,LandType
0,202206010000,13,126.16000,33.30000,NaN,0.00000,0.00000,-0.00060,0.00060,-0.0003,-0.00065,262.92059,229.45659,235.07547,240.31673,251.77517,241.07130,251.49092,250.11913,248.78686,243.12601,123.72706,38.96359,-5.16304,71.00,0
1,202206010000,105,128.89098,37.75147,NaN,-0.00057,-0.00057,0.00000,-0.00030,0.0000,0.00000,276.10419,227.96713,233.72547,239.77969,262.07101,244.35010,262.71227,261.14580,257.52658,246.95577,119.74915,43.95463,-4.61100,26.04,3
2,202206010000,108,126.96500,37.57100,NaN,0.00000,-0.00057,-0.00030,0.00045,0.0000,0.00000,282.27548,231.21535,239.16991,246.10603,271.27599,249.24111,271.81756,270.25616,266.99858,254.94651,119.65871,43.77999,-4.60329,85.50,3
3,202206010000,112,126.62490,37.47772,NaN,0.00000,0.00000,0.00060,0.00045,-0.0003,0.00000,282.46967,231.44196,239.93507,247.21581,272.76683,249.94977,273.52547,272.33661,269.12853,256.15036,119.71313,43.67046,-4.61180,68.99,3
4,202206010000,115,130.89864,37.48129,NaN,0.00000,0.00000,0.00089,-0.00030,0.0003,0.00000,269.13950,227.06045,231.91358,236.01801,253.63890,239.88321,253.29031,251.46606,249.01625,240.92761,120.21661,43.74521,-4.67107,222.80,4

In [16]:
pd.options.display.max_rows =4000
pd.options.display.max_columns = 30

In [17]:
data.columns=['uv.yymmdd','uv.stn','uv.lon','uv.lat','uv.uv','uv.band1','uv.band2',
           'uv.band3','uv.band4','uv.band5','uv.band6','uv.band7','uv.band8','uv.band9','uv.band10',
            'uv.band11','uv.band12','uv.band13','uv.band14','uv.band15','uv.band16','uv.solarza','uv.sateza','uv.esr',
            'uv.height','uv.landtype']
data.rename(columns={'uv.yymmdd':'날짜'}, inplace = True)
data.rename(columns={'uv.stn':'관측소지점'}, inplace = True)
data.rename(columns={'uv.lon':'경도'}, inplace = True)
data.rename(columns={'uv.lat':'위도'}, inplace = True)
data.rename(columns={'uv.uv':'자외선지수'}, inplace = True)
data.rename(columns={'uv.band1':'파랑_가시밴드'}, inplace = True)
data.rename(columns={'uv.band2':'초록_가시밴드'}, inplace = True)
data.rename(columns={'uv.band3':'빨강_가시밴드'}, inplace = True)
data.rename(columns={'uv.band4':'식생_가시밴드'}, inplace = True)
data.rename(columns={'uv.band5':'권운_밴드'}, inplace = True)
data.rename(columns={'uv.band6':'눈/얼음_가시밴드'}, inplace = True)
data.rename(columns={'uv.band7':'야간안개/하층운_밴드'}, inplace = True)
data.rename(columns={'uv.band8':'상층_수증기_밴드'}, inplace = True)
data.rename(columns={'uv.band9':'중층_수증기_밴드'}, inplace = True)
data.rename(columns={'uv.band10':'하층_수증기_밴드'}, inplace = True)
data.rename(columns={'uv.band11':'구름상_밴드'}, inplace = True)
data.rename(columns={'uv.band12':'오존_밴드'}, inplace = True)
data.rename(columns={'uv.band13':'대기창_밴드'}, inplace = True)
data.rename(columns={'uv.band14':'깨끗한_대기창_밴드'}, inplace = True)
data.rename(columns={'uv.band15':'오염된_대기창_밴드'}, inplace = True)
data.rename(columns={'uv.band16':'이산화탄소_밴드'}, inplace = True)
data.rename(columns={'uv.solarza':'태양천정각'}, inplace = True)
data.rename(columns={'uv.sateza':'위성천정각'}, inplace = True)
data.rename(columns={'uv.esr':'대기외일사량'}, inplace = True)
data.rename(columns={'uv.height':'관측고도'}, inplace = True)
data.rename(columns={'uv.landtype':'지면타입'}, inplace = True)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51855 entries, 0 to 51854
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   날짜           51855 non-null  int64
 1   관측소지점        51855 non-null  int64
 2   경도           51855 non-null  float64
 3   위도           51855 non-null  float64
 4   자외선지수        0 non-null      float64
 5   파랑_가시밴드      51855 non-null  float64
 6   초록_가시밴드      51855 non-null  float64
 7   빨강_가시밴드      51855 non-null  float64
 8   식생_가시밴드      51855 non-null  float64
 9   권운_밴드        51855 non-null  float64
 10  눈/얼음_가시밴드    51855 non-null  float64
 11  야간안개/하층운_밴드  51855 non-null  float64
 12  상층_수증기_밴드    51855 non-null  float64
 13  중층_수증기_밴드    51855 non-null  float64
 14  하층_수증기_밴드    51855 non-null  float64
 15  구름상_밴드       51855 non-null  float64
 16  오존_밴드        51855 non-null  float64
 17  대기창_밴드       51855 non-null  float64
 18  깨끗한_대기창_밴드   51855 non-null  float64
 19  오염된_대기창_밴드   51855 non-null  float64
 20  이산화탄소_밴드     51855 non-null  float64
 21  태양천정각        51855 non-null  float64
 22  위성천정각        51855 non-null  float64
 23  대기외일사량       51855 non-null  float64
 24  관측고도         51855 non-null  float64
 25  지면타입         51855 non-null  int64
dtypes: float64(23), int64(3)
memory usage: 10.3 MB

In [19]:
data.head()

,날짜,관측소지점,경도,위도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,권운_밴드,눈/얼음_가시밴드,야간안개/하층운_밴드,상층_수증기_밴드,중층_수증기_밴드,하층_수증기_밴드,구름상_밴드,오존_밴드,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입
0,202206010000,13,126.16000,33.30000,NaN,0.00000,0.00000,-0.00060,0.00060,-0.0003,-0.00065,262.92059,229.45659,235.07547,240.31673,251.77517,241.07130,251.49092,250.11913,248.78686,243.12601,123.72706,38.96359,-5.16304,71.00,0
1,202206010000,105,128.89098,37.75147,NaN,-0.00057,-0.00057,0.00000,-0.00030,0.0000,0.00000,276.10419,227.96713,233.72547,239.77969,262.07101,244.35010,262.71227,261.14580,257.52658,246.95577,119.74915,43.95463,-4.61100,26.04,3
2,202206010000,108,126.96500,37.57100,NaN,0.00000,-0.00057,-0.00030,0.00045,0.0000,0.00000,282.27548,231.21535,239.16991,246.10603,271.27599,249.24111,271.81756,270.25616,266.99858,254.94651,119.65871,43.77999,-4.60329,85.50,3
3,202206010000,112,126.62490,37.47772,NaN,0.00000,0.00000,0.00060,0.00045,-0.0003,0.00000,282.46967,231.44196,239.93507,247.21581,272.76683,249.94977,273.52547,272.33661,269.12853,256.15036,119.71313,43.67046,-4.61180,68.99,3
4,202206010000,115,130.89864,37.48129,NaN,0.00000,0.00000,0.00089,-0.00030,0.0003,0.00000,269.13950,227.06045,231.91358,236.01801,253.63890,239.88321,253.29031,251.46606,249.01625,240.92761,120.21661,43.74521,-4.67107,222.80,4

In [20]:
# -999를 nan으로 바꾼다 
import numpy as np
data = data.replace(-999, np.NaN)
data.head()

,날짜,관측소지점,경도,위도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,권운_밴드,눈/얼음_가시밴드,야간안개/하층운_밴드,상층_수증기_밴드,중층_수증기_밴드,하층_수증기_밴드,구름상_밴드,오존_밴드,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입
0,202206010000,13,126.16000,33.30000,NaN,0.00000,0.00000,-0.00060,0.00060,-0.0003,-0.00065,262.92059,229.45659,235.07547,240.31673,251.77517,241.07130,251.49092,250.11913,248.78686,243.12601,123.72706,38.96359,-5.16304,71.00,0
1,202206010000,105,128.89098,37.75147,NaN,-0.00057,-0.00057,0.00000,-0.00030,0.0000,0.00000,276.10419,227.96713,233.72547,239.77969,262.07101,244.35010,262.71227,261.14580,257.52658,246.95577,119.74915,43.95463,-4.61100,26.04,3
2,202206010000,108,126.96500,37.57100,NaN,0.00000,-0.00057,-0.00030,0.00045,0.0000,0.00000,282.27548,231.21535,239.16991,246.10603,271.27599,249.24111,271.81756,270.25616,266.99858,254.94651,119.65871,43.77999,-4.60329,85.50,3
3,202206010000,112,126.62490,37.47772,NaN,0.00000,0.00000,0.00060,0.00045,-0.0003,0.00000,282.46967,231.44196,239.93507,247.21581,272.76683,249.94977,273.52547,272.33661,269.12853,256.15036,119.71313,43.67046,-4.61180,68.99,3
4,202206010000,115,130.89864,37.48129,NaN,0.00000,0.00000,0.00089,-0.00030,0.0003,0.00000,269.13950,227.06045,231.91358,236.01801,253.63890,239.88321,253.29031,251.46606,249.01625,240.92761,120.21661,43.74521,-4.67107,222.80,4

In [21]:
data.isnull().sum()

날짜                 0
관측소지점              0
경도                 0
위도                 0
자외선지수          51855
파랑_가시밴드          375
초록_가시밴드          375
빨강_가시밴드          375
식생_가시밴드          375
권운_밴드            375
눈/얼음_가시밴드        375
야간안개/하층운_밴드      375
상층_수증기_밴드        375
중층_수증기_밴드        375
하층_수증기_밴드        375
구름상_밴드           375
오존_밴드            375
대기창_밴드           375
깨끗한_대기창_밴드       375
오염된_대기창_밴드       375
이산화탄소_밴드         375
태양천정각              0
위성천정각              0
대기외일사량             0
관측고도               0
지면타입               0
dtype: int64

In [22]:
data.describe()

,날짜,관측소지점,경도,위도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,권운_밴드,눈/얼음_가시밴드,야간안개/하층운_밴드,상층_수증기_밴드,중층_수증기_밴드,하층_수증기_밴드,구름상_밴드,오존_밴드,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입
count,5.185500e+04,51855.00000,51855.000000,51855.000000,0.0,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51855.000000,51855.000000,51855.000000,51855.000000,51855.000000
mean,2.022061e+11,127.20000,127.831561,36.104073,NaN,0.140833,0.136833,0.129408,0.154173,0.017090,0.097364,285.766757,237.358996,245.921486,253.132360,274.524265,252.668734,276.505208,275.741283,273.259896,261.010910,72.303571,42.114224,2.115139,68.639333,2.400000
std,6.924801e+04,35.55162,1.376376,1.182683,NaN,0.183448,0.183242,0.185484,0.205030,0.045582,0.123983,17.448162,6.825698,8.894055,10.619147,18.680017,9.865074,19.664792,19.985052,19.210178,14.167237,35.752869,1.339221,4.838051,46.357863,1.254338
min,2.022060e+11,13.00000,126.160000,33.300000,NaN,-0.001130,-0.001140,-0.003280,-0.002240,-0.001810,-0.001290,152.769990,205.299700,204.406710,204.524180,204.911600,217.434730,204.794580,204.191510,204.093620,205.305800,9.868750,38.963590,-5.227190,2.280000,0.000000
25%,2.022061e+11,112.00000,126.624900,35.172940,NaN,0.000000,0.000000,0.000300,0.000150,0.000000,0.000000,277.007290,233.300320,241.314580,248.678030,265.472530,247.455870,266.768430,265.588300,263.471430,254.594470,39.776310,41.048490,-2.893110,47.000000,2.000000
50%,2.022061e+11,133.00000,127.372120,36.032590,NaN,0.082140,0.074140,0.056330,0.069880,0.000910,0.047080,289.177460,237.816030,247.535650,256.106680,281.562930,255.652920,284.085790,283.494560,280.777760,266.652320,75.681360,42.026080,1.650760,68.940000,3.000000
75%,2.022062e+11,152.00000,129.032030,37.477720,NaN,0.198270,0.189330,0.168080,0.230730,0.006040,0.160600,297.669210,241.834640,251.693900,259.963510,287.404650,259.526370,290.038400,289.794090,287.108640,271.116280,106.468055,43.670460,6.586130,72.380000,3.000000
max,2.022062e+11,165.00000,130.898640,37.751470,NaN,0.944340,0.955210,0.983160,1.057570,0.566370,0.640470,319.170980,255.812470,265.375640,271.555510,307.351270,272.744840,311.394910,311.722780,307.449130,281.501880,124.632510,43.954630,9.025490,222.800000,4.000000

In [23]:
# 90 이상 야간
data['파랑_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
data['초록_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
data['빨강_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
data['식생_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
data['권운_밴드'].loc[data['태양천정각'] > 90 ] = 0
data['눈/얼음_가시밴드'].loc[data['태양천정각'] > 90 ] = 0

# 90 이하 주간
data['파랑_가시밴드'].loc[data['파랑_가시밴드'] < 0] = 0
data['초록_가시밴드'].loc[data['초록_가시밴드'] < 0] = 0
data['빨강_가시밴드'].loc[data['빨강_가시밴드'] < 0] = 0
data['식생_가시밴드'].loc[data['식생_가시밴드'] < 0] = 0
data['권운_밴드'].loc[data['권운_밴드'] < 0] = 0
data['눈/얼음_가시밴드'].loc[data['눈/얼음_가시밴드'] < 0] = 0

C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['파랑_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['초록_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['빨강_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['식생_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['권운_밴드'].loc[data['태양천정각'] > 90 ] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['눈/얼음_가시밴드'].loc[data['태양천정각'] > 90 ] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['파랑_가시밴드'].loc[data['파랑_가시밴드'] < 0] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['초록_가시밴드'].loc[data['초록_가시밴드'] < 0] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['빨강_가시밴드'].loc[data['빨강_가시밴드'] < 0] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['식생_가시밴드'].loc[data['식생_가시밴드'] < 0] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['권운_밴드'].loc[data['권운_밴드'] < 0] = 0
C:\Users\pcy07\AppData\Local\Temp\ipykernel_9096\2129070808.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['눈/얼음_가시밴드'].loc[data['눈/얼음_가시밴드'] < 0] = 0

In [24]:
data.describe()

,날짜,관측소지점,경도,위도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,권운_밴드,눈/얼음_가시밴드,야간안개/하층운_밴드,상층_수증기_밴드,중층_수증기_밴드,하층_수증기_밴드,구름상_밴드,오존_밴드,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입
count,5.185500e+04,51855.00000,51855.000000,51855.000000,0.0,51840.000000,51840.000000,51840.000000,51840.000000,51840.000000,51840.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51480.000000,51855.000000,51855.000000,51855.000000,51855.000000,51855.000000
mean,2.022061e+11,127.20000,127.831561,36.104073,NaN,0.139821,0.135871,0.128508,0.153048,0.017017,0.096776,285.766757,237.358996,245.921486,253.132360,274.524265,252.668734,276.505208,275.741283,273.259896,261.010910,72.303571,42.114224,2.115139,68.639333,2.400000
std,6.924801e+04,35.55162,1.376376,1.182683,NaN,0.183208,0.182966,0.185150,0.204756,0.045428,0.123746,17.448162,6.825698,8.894055,10.619147,18.680017,9.865074,19.664792,19.985052,19.210178,14.167237,35.752869,1.339221,4.838051,46.357863,1.254338
min,2.022060e+11,13.00000,126.160000,33.300000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,152.769990,205.299700,204.406710,204.524180,204.911600,217.434730,204.794580,204.191510,204.093620,205.305800,9.868750,38.963590,-5.227190,2.280000,0.000000
25%,2.022061e+11,112.00000,126.624900,35.172940,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,277.007290,233.300320,241.314580,248.678030,265.472530,247.455870,266.768430,265.588300,263.471430,254.594470,39.776310,41.048490,-2.893110,47.000000,2.000000
50%,2.022061e+11,133.00000,127.372120,36.032590,NaN,0.079880,0.071850,0.054840,0.068080,0.000910,0.045150,289.177460,237.816030,247.535650,256.106680,281.562930,255.652920,284.085790,283.494560,280.777760,266.652320,75.681360,42.026080,1.650760,68.940000,3.000000
75%,2.022062e+11,152.00000,129.032030,37.477720,NaN,0.196570,0.187620,0.166590,0.229680,0.006040,0.159960,297.669210,241.834640,251.693900,259.963510,287.404650,259.526370,290.038400,289.794090,287.108640,271.116280,106.468055,43.670460,6.586130,72.380000,3.000000
max,2.022062e+11,165.00000,130.898640,37.751470,NaN,0.944340,0.955210,0.983160,1.057570,0.566370,0.640470,319.170980,255.812470,265.375640,271.555510,307.351270,272.744840,311.394910,311.722780,307.449130,281.501880,124.632510,43.954630,9.025490,222.800000,4.000000

In [25]:
# 결측치 처리
data_fill = data.interpolate(inplace=True)

In [26]:
data.isnull().sum()

날짜                 0
관측소지점              0
경도                 0
위도                 0
자외선지수          51855
파랑_가시밴드            0
초록_가시밴드            0
빨강_가시밴드            0
식생_가시밴드            0
권운_밴드              0
눈/얼음_가시밴드          0
야간안개/하층운_밴드        0
상층_수증기_밴드          0
중층_수증기_밴드          0
하층_수증기_밴드          0
구름상_밴드             0
오존_밴드              0
대기창_밴드             0
깨끗한_대기창_밴드         0
오염된_대기창_밴드         0
이산화탄소_밴드           0
태양천정각              0
위성천정각              0
대기외일사량             0
관측고도               0
지면타입               0
dtype: int64

In [27]:
data.head()

,날짜,관측소지점,경도,위도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,권운_밴드,눈/얼음_가시밴드,야간안개/하층운_밴드,상층_수증기_밴드,중층_수증기_밴드,하층_수증기_밴드,구름상_밴드,오존_밴드,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입
0,202206010000,13,126.16000,33.30000,NaN,0.0,0.0,0.0,0.0,0.0,0.0,262.92059,229.45659,235.07547,240.31673,251.77517,241.07130,251.49092,250.11913,248.78686,243.12601,123.72706,38.96359,-5.16304,71.00,0
1,202206010000,105,128.89098,37.75147,NaN,0.0,0.0,0.0,0.0,0.0,0.0,276.10419,227.96713,233.72547,239.77969,262.07101,244.35010,262.71227,261.14580,257.52658,246.95577,119.74915,43.95463,-4.61100,26.04,3
2,202206010000,108,126.96500,37.57100,NaN,0.0,0.0,0.0,0.0,0.0,0.0,282.27548,231.21535,239.16991,246.10603,271.27599,249.24111,271.81756,270.25616,266.99858,254.94651,119.65871,43.77999,-4.60329,85.50,3
3,202206010000,112,126.62490,37.47772,NaN,0.0,0.0,0.0,0.0,0.0,0.0,282.46967,231.44196,239.93507,247.21581,272.76683,249.94977,273.52547,272.33661,269.12853,256.15036,119.71313,43.67046,-4.61180,68.99,3
4,202206010000,115,130.89864,37.48129,NaN,0.0,0.0,0.0,0.0,0.0,0.0,269.13950,227.06045,231.91358,236.01801,253.63890,239.88321,253.29031,251.46606,249.01625,240.92761,120.21661,43.74521,-4.67107,222.80,4

In [28]:
data['Band1'] = data.iloc[:,2:6].mean(axis=1)
data['Band2'] = data.iloc[:,6:8].mean(axis=1)
data['Band3'] = data.iloc[:,8:9].mean(axis=1)
data['Band4'] = data.iloc[:,9:12].mean(axis=1)
data['Band5'] = data.iloc[:,12:18].mean(axis=1)

In [31]:
bins = list(range(0, 181, 45))
bins

[0, 45, 90, 135, 180]

In [32]:
bins_label = list(range(1,6,1))
bins_label

[1, 2, 3, 4, 5]

In [33]:
data["time"] = pd.cut(data['태양천정각'], bins, right=False, labels=bins_label[:-1])

In [35]:
data.columns

Index(['날짜', '관측소지점', '경도', '위도', '자외선지수', '파랑_가시밴드', '초록_가시밴드', '빨강_가시밴드',
       '식생_가시밴드', '권운_밴드', '눈/얼음_가시밴드', '야간안개/하층운_밴드', '상층_수증기_밴드',
       '중층_수증기_밴드', '하층_수증기_밴드', '구름상_밴드', '오존_밴드', '대기창_밴드', '깨끗한_대기창_밴드',
       '오염된_대기창_밴드', '이산화탄소_밴드', '태양천정각', '위성천정각', '대기외일사량', '관측고도', '지면타입',
       'Band1', 'Band2', 'Band3', 'Band4', 'Band5', 'time'],
      dtype='object')

In [36]:
data = data[['관측소지점', '자외선지수', '태양천정각', '대기외일사량', '지면타입',
       'Band1', 'Band2', 'Band3', 'Band4', 'Band5', 'time']]
data.head()

,관측소지점,자외선지수,태양천정각,대기외일사량,지면타입,Band1,Band2,Band3,Band4,Band5,time
0,13,NaN,123.72706,-5.16304,0,53.153333,0.0,0.0,87.640197,241.531030,3
1,105,NaN,119.74915,-4.61100,3,55.547483,0.0,0.0,92.034730,245.100945,3
2,108,NaN,119.65871,-4.60329,3,54.845333,0.0,0.0,94.091827,251.470992,3
3,112,NaN,119.71313,-4.61180,3,54.700873,0.0,0.0,94.156557,252.472485,3
4,115,NaN,120.21661,-4.67107,4,56.126643,0.0,0.0,89.713167,240.300743,3

In [37]:
data_dum = pd.get_dummies(data, columns = ['관측소지점','지면타입','time'])

In [38]:
data_dum.reset_index(drop=True,inplace = True)

In [39]:
data_dum.head()

,자외선지수,태양천정각,대기외일사량,Band1,Band2,Band3,Band4,Band5,관측소지점_13,관측소지점_105,관측소지점_108,관측소지점_112,관측소지점_115,관측소지점_131,관측소지점_132,...,관측소지점_138,관측소지점_143,관측소지점_146,관측소지점_152,관측소지점_156,관측소지점_159,관측소지점_165,지면타입_0,지면타입_2,지면타입_3,지면타입_4,time_1,time_2,time_3,time_4
0,NaN,123.72706,-5.16304,53.153333,0.0,0.0,87.640197,241.531030,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
1,NaN,119.74915,-4.61100,55.547483,0.0,0.0,92.034730,245.100945,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
2,NaN,119.65871,-4.60329,54.845333,0.0,0.0,94.091827,251.470992,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3,NaN,119.71313,-4.61180,54.700873,0.0,0.0,94.156557,252.472485,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,NaN,120.21661,-4.67107,56.126643,0.0,0.0,89.713167,240.300743,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [40]:
data_dum = data_dum.drop(['time_4'], axis=1)

In [41]:
data_dum

,자외선지수,태양천정각,대기외일사량,Band1,Band2,Band3,Band4,Band5,관측소지점_13,관측소지점_105,관측소지점_108,관측소지점_112,관측소지점_115,관측소지점_131,관측소지점_132,관측소지점_133,관측소지점_138,관측소지점_143,관측소지점_146,관측소지점_152,관측소지점_156,관측소지점_159,관측소지점_165,지면타입_0,지면타입_2,지면타입_3,지면타입_4,time_1,time_2,time_3
0,NaN,123.72706,-5.16304,53.153333,0.0,0.0,87.640197,241.531030,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,NaN,119.74915,-4.61100,55.547483,0.0,0.0,92.034730,245.100945,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
2,NaN,119.65871,-4.60329,54.845333,0.0,0.0,94.091827,251.470992,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
3,NaN,119.71313,-4.61180,54.700873,0.0,0.0,94.156557,252.472485,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
4,NaN,120.21661,-4.67107,56.126643,0.0,0.0,89.713167,240.300743,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51850,NaN,119.84431,-4.59718,54.319933,0.0,0.0,94.389710,264.624543,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1
51851,NaN,120.42121,-4.67124,54.972407,0.0,0.0,97.966353,269.136785,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
51852,NaN,120.46896,-4.68457,54.021507,0.0,0.0,95.685913,267.748547,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1
51853,NaN,120.85844,-4.73249,54.712237,0.0,0.0,95.486133,263.915437,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1
51854,NaN,120.72111,-4.72079,53.732700,0.0,0.0,95.167957,268.051748,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1

In [42]:
data_dum.to_csv('검증데이터_전처리O.csv')