In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("all_uv_data.csv")

In [3]:
df

,Unnamed: 0,날짜,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,...,오존_밴드,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입
0,0,20200101,0,13,126.16000,33.30000,0.0,0.00000,0.00000,0.00000,...,250.75924,269.97608,269.70811,268.61702,259.10334,165.17963,38.96359,-9.50910,71.00,0
1,1,20200101,0,105,128.89098,37.75147,0.0,-0.00057,0.00057,0.00030,...,246.67115,268.22810,268.41686,268.01723,256.99670,163.20549,43.95463,-9.40930,26.04,3
2,2,20200101,0,108,126.96500,37.57100,-999.0,0.00000,0.00000,-0.00089,...,241.24994,258.33982,258.18692,257.58363,250.50021,162.48279,43.77999,-9.37761,85.50,3
3,3,20200101,0,112,126.62490,37.47772,0.0,-0.00057,-0.00057,-0.00060,...,241.55488,258.54927,258.64012,258.03883,251.00820,162.39995,43.67046,-9.37422,68.99,3
4,4,20200101,0,115,130.89864,37.48129,0.0,0.00000,-0.00057,-0.00030,...,244.56708,264.88004,263.95472,262.33534,253.25397,164.19725,43.74521,-9.45200,222.80,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578955,66955,20211231,2350,146,127.11900,35.84080,0.1,-0.00057,0.00000,-0.00060,...,244.71129,264.82744,264.95943,264.36433,254.82929,162.52921,41.81018,-8.87355,62.90,3
1578956,66956,20211231,2350,152,129.33472,35.58250,0.0,0.00000,0.00000,-0.00179,...,241.75728,259.19303,257.86443,257.39333,249.08495,163.96606,41.52495,-8.99640,82.00,2
1578957,66957,20211231,2350,156,126.89158,35.17294,0.0,0.00000,0.00000,0.00000,...,242.90744,260.33453,260.00405,259.18646,250.92709,162.84572,41.04849,-8.87987,72.38,3
1578958,66958,20211231,2350,159,129.03203,35.10468,0.0,-0.00057,-0.00057,0.00089,...,242.68420,259.36253,258.24370,256.93511,247.71243,164.15158,40.96396,-8.99480,69.56,3
1578959,66959,20211231,2350,165,126.38121,34.81689,0.0,0.00000,-0.00057,-0.00089,...,245.56927,264.89757,265.30934,263.65062,254.37876,162.76137,40.67788,-8.86160,38.00,3

In [4]:
df = df.drop(['Unnamed: 0'], axis = 1)

파랑,초록,빨강,식생 가시밴드, 권운 밴드의 야간일 때 값 0으로 대체

In [5]:
df.loc[df['태양천정각'] > 90, '파랑_가시밴드'] = 0

In [6]:
df.loc[df['파랑_가시밴드']<0, '파랑_가시밴드'].value_counts()

-999.00000    11431
-0.00680          2
-0.01133          1
Name: 파랑_가시밴드, dtype: int64

In [7]:
df.loc[df['태양천정각'] > 90, '초록_가시밴드'] = 0

In [8]:
df.loc[df['초록_가시밴드']<0, '초록_가시밴드'].value_counts()

-999.00000    11431
-0.00057          2
-0.00171          1
-0.00114          1
Name: 초록_가시밴드, dtype: int64

In [9]:
df.loc[df['태양천정각'] > 90, '빨강_가시밴드'] = 0

In [10]:
df.loc[df['빨강_가시밴드']<0, '빨강_가시밴드'].value_counts()

-999.00000    11431
-0.00030         68
-0.00060         21
-0.00089         12
-0.00119          3
-0.00983          1
-0.00536          1
-0.00179          1
-0.00298          1
Name: 빨강_가시밴드, dtype: int64

In [11]:
df.loc[df['태양천정각'] > 90, '식생_가시밴드'] = 0

In [12]:
df.loc[df['식생_가시밴드']<0, '식생_가시밴드'].value_counts()

-999.00000    11431
-0.00015          8
-0.00030          8
-0.00045          2
-0.00120          1
-0.01197          1
-0.00958          1
-0.00613          1
-0.00838          1
-0.00344          1
-0.00060          1
-0.00105          1
Name: 식생_가시밴드, dtype: int64

In [13]:
df.loc[df['태양천정각'] > 90, '권운_밴드'] = 0

In [14]:
df.loc[df['권운_밴드']<0, '권운_밴드'].value_counts()

-999.00000    11431
-0.00065        111
-0.01290          3
-0.00322          1
-0.00129          1
-0.01096          1
-0.00903          1
-0.00451          1
Name: 권운_밴드, dtype: int64

파랑,초록,빨강,식생 가시밴드의 주간일 때 값이 음수이면 0으로 대체

In [15]:
df.loc[df['파랑_가시밴드'] < 0, '파랑_가시밴드'] = 0

In [16]:
df.loc[df['파랑_가시밴드']<0, '파랑_가시밴드'].value_counts()

Series([], Name: 파랑_가시밴드, dtype: int64)

In [17]:
df.loc[df['초록_가시밴드'] < 0, '초록_가시밴드'] = 0

In [18]:
df.loc[df['초록_가시밴드']<0, '초록_가시밴드'].value_counts()

Series([], Name: 초록_가시밴드, dtype: int64)

In [19]:
df.loc[df['빨강_가시밴드'] < 0, '빨강_가시밴드'] = 0

In [20]:
df.loc[df['빨강_가시밴드']<0, '빨강_가시밴드'].value_counts()

Series([], Name: 빨강_가시밴드, dtype: int64)

In [21]:
df.loc[df['식생_가시밴드'] < 0, '식생_가시밴드'] = 0

In [22]:
df.loc[df['식생_가시밴드']<0, '식생_가시밴드'].value_counts()

Series([], Name: 식생_가시밴드, dtype: int64)

In [23]:
df.loc[df['권운_밴드'] < 0, '권운_밴드'] = 0

In [24]:
df.loc[df['권운_밴드']<0, '권운_밴드'].value_counts()

Series([], Name: 권운_밴드, dtype: int64)

계절컬럼 만들기

In [25]:
df['날짜'] = df['날짜'].astype(str)

In [26]:
df['year'] = df['날짜'].str[:4]

In [27]:
df['year'].value_counts()

2020    790560
2021    788400
Name: year, dtype: int64

In [28]:
df['month'] = df['날짜'].str[4:6]

In [29]:
df['month'].value_counts()

01    133920
03    133920
05    133920
07    133920
08    133920
10    133920
12    133920
04    129600
06    129600
09    129600
11    129600
02    123120
Name: month, dtype: int64

In [30]:
df['day'] = df['날짜'].str[6:8]

In [31]:
df['day'].value_counts()

01    51840
02    51840
28    51840
27    51840
26    51840
25    51840
24    51840
23    51840
22    51840
21    51840
20    51840
19    51840
18    51840
17    51840
16    51840
15    51840
14    51840
13    51840
12    51840
11    51840
10    51840
09    51840
08    51840
07    51840
06    51840
05    51840
04    51840
03    51840
29    49680
30    47520
31    30240
Name: day, dtype: int64

In [32]:
df['season'] = df['month']

In [33]:
df

,날짜,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,...,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,year,month,day,season
0,20200101,0,13,126.16000,33.30000,0.0,0.0,0.0,0.0,0.0,...,259.10334,165.17963,38.96359,-9.50910,71.00,0,2020,01,01,01
1,20200101,0,105,128.89098,37.75147,0.0,0.0,0.0,0.0,0.0,...,256.99670,163.20549,43.95463,-9.40930,26.04,3,2020,01,01,01
2,20200101,0,108,126.96500,37.57100,-999.0,0.0,0.0,0.0,0.0,...,250.50021,162.48279,43.77999,-9.37761,85.50,3,2020,01,01,01
3,20200101,0,112,126.62490,37.47772,0.0,0.0,0.0,0.0,0.0,...,251.00820,162.39995,43.67046,-9.37422,68.99,3,2020,01,01,01
4,20200101,0,115,130.89864,37.48129,0.0,0.0,0.0,0.0,0.0,...,253.25397,164.19725,43.74521,-9.45200,222.80,4,2020,01,01,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578955,20211231,2350,146,127.11900,35.84080,0.1,0.0,0.0,0.0,0.0,...,254.82929,162.52921,41.81018,-8.87355,62.90,3,2021,12,31,12
1578956,20211231,2350,152,129.33472,35.58250,0.0,0.0,0.0,0.0,0.0,...,249.08495,163.96606,41.52495,-8.99640,82.00,2,2021,12,31,12
1578957,20211231,2350,156,126.89158,35.17294,0.0,0.0,0.0,0.0,0.0,...,250.92709,162.84572,41.04849,-8.87987,72.38,3,2021,12,31,12
1578958,20211231,2350,159,129.03203,35.10468,0.0,0.0,0.0,0.0,0.0,...,247.71243,164.15158,40.96396,-8.99480,69.56,3,2021,12,31,12
1578959,20211231,2350,165,126.38121,34.81689,0.0,0.0,0.0,0.0,0.0,...,254.37876,162.76137,40.67788,-8.86160,38.00,3,2021,12,31,12

In [34]:
df.loc[df['season'] == '01', 'season'] = 'w'

In [35]:
df.loc[df['season'] == '02', 'season'] = 'w'

In [36]:
df.loc[df['season'] == '12', 'season'] = 'w'

In [37]:
df.loc[df['season'] == '03', 'season'] = 's'

In [38]:
df.loc[df['season'] == '04', 'season'] = 's'

In [39]:
df.loc[df['season'] == '05', 'season'] = 's'

In [40]:
df.loc[df['season'] == '06', 'season'] = 'su'

In [41]:
df.loc[df['season'] == '07', 'season'] = 'su'

In [42]:
df.loc[df['season'] == '08', 'season'] = 'su'

In [43]:
df.loc[df['season'] == '09', 'season'] = 'a'

In [44]:
df.loc[df['season'] == '10', 'season'] = 'a'

In [45]:
df.loc[df['season'] == '11', 'season'] = 'a'

In [46]:
df['season'].value_counts()

s     397440
su    397440
a     393120
w     390960
Name: season, dtype: int64

In [49]:
df1 = df

자외선 지수 -999.0 제거

In [51]:
df1.drop(df.loc[df['자외선지수']==-999.0].index, inplace=True)

In [53]:
df1.loc[df1['자외선지수'] < 0].value_counts()

Series([], dtype: int64)

결측치 대체 알고리즘을 실행

In [54]:
df2 = df1.drop(['날짜','year','month','day'], axis = 1)

In [55]:
df2 = pd.get_dummies(df2, columns = ['season'])

In [56]:
df2

,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,눈/얼음_가시밴드,...,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,season_a,season_s,season_su,season_w
0,0,13,126.16000,33.30000,0.0,0.0,0.0,0.0,0.0,0.00000,...,259.10334,165.17963,38.96359,-9.50910,71.00,0,0,0,0,1
1,0,105,128.89098,37.75147,0.0,0.0,0.0,0.0,0.0,0.00030,...,256.99670,163.20549,43.95463,-9.40930,26.04,3,0,0,0,1
3,0,112,126.62490,37.47772,0.0,0.0,0.0,0.0,0.0,0.00000,...,251.00820,162.39995,43.67046,-9.37422,68.99,3,0,0,0,1
4,0,115,130.89864,37.48129,0.0,0.0,0.0,0.0,0.0,0.00060,...,253.25397,164.19725,43.74521,-9.45200,222.80,4,0,0,0,1
5,0,131,127.44066,36.63924,0.0,0.0,0.0,0.0,0.0,0.00000,...,254.98555,163.46199,42.69599,-9.42573,58.70,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578955,2350,146,127.11900,35.84080,0.1,0.0,0.0,0.0,0.0,0.00000,...,254.82929,162.52921,41.81018,-8.87355,62.90,3,0,0,0,1
1578956,2350,152,129.33472,35.58250,0.0,0.0,0.0,0.0,0.0,-0.00060,...,249.08495,163.96606,41.52495,-8.99640,82.00,2,0,0,0,1
1578957,2350,156,126.89158,35.17294,0.0,0.0,0.0,0.0,0.0,0.00000,...,250.92709,162.84572,41.04849,-8.87987,72.38,3,0,0,0,1
1578958,2350,159,129.03203,35.10468,0.0,0.0,0.0,0.0,0.0,-0.00091,...,247.71243,164.15158,40.96396,-8.99480,69.56,3,0,0,0,1
1578959,2350,165,126.38121,34.81689,0.0,0.0,0.0,0.0,0.0,-0.00030,...,254.37876,162.76137,40.67788,-8.86160,38.00,3,0,0,0,1

In [57]:
df2 = df2.replace(-999, np.nan)

In [58]:
df2

,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,눈/얼음_가시밴드,...,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,season_a,season_s,season_su,season_w
0,0,13,126.16000,33.30000,0.0,0.0,0.0,0.0,0.0,0.00000,...,259.10334,165.17963,38.96359,-9.50910,71.00,0,0,0,0,1
1,0,105,128.89098,37.75147,0.0,0.0,0.0,0.0,0.0,0.00030,...,256.99670,163.20549,43.95463,-9.40930,26.04,3,0,0,0,1
3,0,112,126.62490,37.47772,0.0,0.0,0.0,0.0,0.0,0.00000,...,251.00820,162.39995,43.67046,-9.37422,68.99,3,0,0,0,1
4,0,115,130.89864,37.48129,0.0,0.0,0.0,0.0,0.0,0.00060,...,253.25397,164.19725,43.74521,-9.45200,222.80,4,0,0,0,1
5,0,131,127.44066,36.63924,0.0,0.0,0.0,0.0,0.0,0.00000,...,254.98555,163.46199,42.69599,-9.42573,58.70,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578955,2350,146,127.11900,35.84080,0.1,0.0,0.0,0.0,0.0,0.00000,...,254.82929,162.52921,41.81018,-8.87355,62.90,3,0,0,0,1
1578956,2350,152,129.33472,35.58250,0.0,0.0,0.0,0.0,0.0,-0.00060,...,249.08495,163.96606,41.52495,-8.99640,82.00,2,0,0,0,1
1578957,2350,156,126.89158,35.17294,0.0,0.0,0.0,0.0,0.0,0.00000,...,250.92709,162.84572,41.04849,-8.87987,72.38,3,0,0,0,1
1578958,2350,159,129.03203,35.10468,0.0,0.0,0.0,0.0,0.0,-0.00091,...,247.71243,164.15158,40.96396,-8.99480,69.56,3,0,0,0,1
1578959,2350,165,126.38121,34.81689,0.0,0.0,0.0,0.0,0.0,-0.00030,...,254.37876,162.76137,40.67788,-8.86160,38.00,3,0,0,0,1

In [59]:
from sklearn.experimental import enable_iterative_imputer

In [60]:
from sklearn.impute import IterativeImputer

In [61]:
imputer = IterativeImputer(random_state=0)
imputer.fit(df2)
df3 = imputer.transform(df2)
df3

array([[0.0000000e+00, 1.3000000e+01, 1.2616000e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [0.0000000e+00, 1.0500000e+02, 1.2889098e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [0.0000000e+00, 1.1200000e+02, 1.2662490e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       ...,
       [2.3500000e+03, 1.5600000e+02, 1.2689158e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [2.3500000e+03, 1.5900000e+02, 1.2903203e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [2.3500000e+03, 1.6500000e+02, 1.2638121e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00]])

In [62]:
ite_imputer = pd.DataFrame(df3)

In [63]:
ite_imputer.columns = ['시간_분','관측소지점','위도','경도','자외선지수','파랑_가시밴드','초록_가시밴드','빨강_가시밴드','식생_가시밴드',
                       '눈/얼음_가시밴드','권운_밴드','야간안개/하층운_밴드','상층_수증기_밴드','중층_수증기_밴드','하층_수증기_밴드',
                       '구름상_밴드','오존_밴드','대기창_밴드','깨끗한_대기창_밴드','오염된_대기창_밴드','이산화탄소_밴드','태양천정각',
                       '위성천정각','대기외일사량','관측고도','지면타입','season_a','season_s','season_su','season_w']

In [64]:
ite_imputer

,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,눈/얼음_가시밴드,...,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,season_a,season_s,season_su,season_w
0,0.0,13.0,126.16000,33.30000,0.0,0.0,0.0,0.0,0.0,0.00000,...,259.10334,165.17963,38.96359,-9.50910,71.00,0.0,0.0,0.0,0.0,1.0
1,0.0,105.0,128.89098,37.75147,0.0,0.0,0.0,0.0,0.0,0.00030,...,256.99670,163.20549,43.95463,-9.40930,26.04,3.0,0.0,0.0,0.0,1.0
2,0.0,112.0,126.62490,37.47772,0.0,0.0,0.0,0.0,0.0,0.00000,...,251.00820,162.39995,43.67046,-9.37422,68.99,3.0,0.0,0.0,0.0,1.0
3,0.0,115.0,130.89864,37.48129,0.0,0.0,0.0,0.0,0.0,0.00060,...,253.25397,164.19725,43.74521,-9.45200,222.80,4.0,0.0,0.0,0.0,1.0
4,0.0,131.0,127.44066,36.63924,0.0,0.0,0.0,0.0,0.0,0.00000,...,254.98555,163.46199,42.69599,-9.42573,58.70,3.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525748,2350.0,146.0,127.11900,35.84080,0.1,0.0,0.0,0.0,0.0,0.00000,...,254.82929,162.52921,41.81018,-8.87355,62.90,3.0,0.0,0.0,0.0,1.0
1525749,2350.0,152.0,129.33472,35.58250,0.0,0.0,0.0,0.0,0.0,-0.00060,...,249.08495,163.96606,41.52495,-8.99640,82.00,2.0,0.0,0.0,0.0,1.0
1525750,2350.0,156.0,126.89158,35.17294,0.0,0.0,0.0,0.0,0.0,0.00000,...,250.92709,162.84572,41.04849,-8.87987,72.38,3.0,0.0,0.0,0.0,1.0
1525751,2350.0,159.0,129.03203,35.10468,0.0,0.0,0.0,0.0,0.0,-0.00091,...,247.71243,164.15158,40.96396,-8.99480,69.56,3.0,0.0,0.0,0.0,1.0
1525752,2350.0,165.0,126.38121,34.81689,0.0,0.0,0.0,0.0,0.0,-0.00030,...,254.37876,162.76137,40.67788,-8.86160,38.00,3.0,0.0,0.0,0.0,1.0

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [90]:
X = ite_imputer.drop(['자외선지수'], axis = 1)
y = ite_imputer['자외선지수']

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=53)

In [92]:
model1 = ElasticNet(alpha = 0.7, l1_ratio=0.5)
model2 = ElasticNet(alpha = 0.5, l1_ratio=0.5)
model3 = ElasticNet(alpha = 0.3, l1_ratio=0.5)
model4 = ElasticNet(alpha = 0.1, l1_ratio=0.5)
model5 = ElasticNet(alpha = 0.05, l1_ratio=0.5)

In [93]:
model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)
model4.fit(X_train, y_train)
model5.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.797e+03, tolerance: 4.176e+02
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.880e+04, tolerance: 4.176e+02
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

ElasticNet(alpha=0.05)

0.7

In [94]:
y_pred = model1.predict(X_test)
print('RMSE:', mean_squared_error(y_pred, y_test, squared = False))
print('r2_score: ', r2_score(y_test, y_pred))

RMSE: 1.2821540057424838
r2_score:  0.5776471412950686

0.5

In [95]:
y_pred = model2.predict(X_test)
print('RMSE:', mean_squared_error(y_pred, y_test, squared = False))
print('r2_score: ', r2_score(y_test, y_pred))

RMSE: 1.2652229988359747
r2_score:  0.588727939908926

0.3

In [96]:
y_pred = model3.predict(X_test)
print('RMSE:', mean_squared_error(y_pred, y_test, squared = False))
print('r2_score: ', r2_score(y_test, y_pred))

RMSE: 1.2503274023255413
r2_score:  0.5983548291206361

0.1

In [97]:
y_pred = model4.predict(X_test)
print('RMSE:', mean_squared_error(y_pred, y_test, squared = False))
print('r2_score: ', r2_score(y_test, y_pred))

RMSE: 1.2239122203172372
r2_score:  0.6151463647721349

0.05

In [98]:
y_pred = model5.predict(X_test)
print('RMSE:', mean_squared_error(y_pred, y_test, squared = False))
print('r2_score: ', r2_score(y_test, y_pred))

RMSE: 1.2170776264435519
r2_score:  0.6194325776513702

자외선지수 -999.0 제거하지 않고

In [67]:
df

,날짜,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,...,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,year,month,day,season
0,20200101,0,13,126.16000,33.30000,0.0,0.0,0.0,0.0,0.0,...,259.10334,165.17963,38.96359,-9.50910,71.00,0,2020,01,01,w
1,20200101,0,105,128.89098,37.75147,0.0,0.0,0.0,0.0,0.0,...,256.99670,163.20549,43.95463,-9.40930,26.04,3,2020,01,01,w
3,20200101,0,112,126.62490,37.47772,0.0,0.0,0.0,0.0,0.0,...,251.00820,162.39995,43.67046,-9.37422,68.99,3,2020,01,01,w
4,20200101,0,115,130.89864,37.48129,0.0,0.0,0.0,0.0,0.0,...,253.25397,164.19725,43.74521,-9.45200,222.80,4,2020,01,01,w
5,20200101,0,131,127.44066,36.63924,0.0,0.0,0.0,0.0,0.0,...,254.98555,163.46199,42.69599,-9.42573,58.70,3,2020,01,01,w
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578955,20211231,2350,146,127.11900,35.84080,0.1,0.0,0.0,0.0,0.0,...,254.82929,162.52921,41.81018,-8.87355,62.90,3,2021,12,31,w
1578956,20211231,2350,152,129.33472,35.58250,0.0,0.0,0.0,0.0,0.0,...,249.08495,163.96606,41.52495,-8.99640,82.00,2,2021,12,31,w
1578957,20211231,2350,156,126.89158,35.17294,0.0,0.0,0.0,0.0,0.0,...,250.92709,162.84572,41.04849,-8.87987,72.38,3,2021,12,31,w
1578958,20211231,2350,159,129.03203,35.10468,0.0,0.0,0.0,0.0,0.0,...,247.71243,164.15158,40.96396,-8.99480,69.56,3,2021,12,31,w
1578959,20211231,2350,165,126.38121,34.81689,0.0,0.0,0.0,0.0,0.0,...,254.37876,162.76137,40.67788,-8.86160,38.00,3,2021,12,31,w

In [68]:
df4 = df.drop(['날짜','year','month','day'], axis = 1)

In [69]:
df4

,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,눈/얼음_가시밴드,...,대기창_밴드,깨끗한_대기창_밴드,오염된_대기창_밴드,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,season
0,0,13,126.16000,33.30000,0.0,0.0,0.0,0.0,0.0,0.00000,...,269.97608,269.70811,268.61702,259.10334,165.17963,38.96359,-9.50910,71.00,0,w
1,0,105,128.89098,37.75147,0.0,0.0,0.0,0.0,0.0,0.00030,...,268.22810,268.41686,268.01723,256.99670,163.20549,43.95463,-9.40930,26.04,3,w
3,0,112,126.62490,37.47772,0.0,0.0,0.0,0.0,0.0,0.00000,...,258.54927,258.64012,258.03883,251.00820,162.39995,43.67046,-9.37422,68.99,3,w
4,0,115,130.89864,37.48129,0.0,0.0,0.0,0.0,0.0,0.00060,...,264.88004,263.95472,262.33534,253.25397,164.19725,43.74521,-9.45200,222.80,4,w
5,0,131,127.44066,36.63924,0.0,0.0,0.0,0.0,0.0,0.00000,...,263.96330,264.23788,263.88311,254.98555,163.46199,42.69599,-9.42573,58.70,3,w
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578955,2350,146,127.11900,35.84080,0.1,0.0,0.0,0.0,0.0,0.00000,...,264.82744,264.95943,264.36433,254.82929,162.52921,41.81018,-8.87355,62.90,3,w
1578956,2350,152,129.33472,35.58250,0.0,0.0,0.0,0.0,0.0,-0.00060,...,259.19303,257.86443,257.39333,249.08495,163.96606,41.52495,-8.99640,82.00,2,w
1578957,2350,156,126.89158,35.17294,0.0,0.0,0.0,0.0,0.0,0.00000,...,260.33453,260.00405,259.18646,250.92709,162.84572,41.04849,-8.87987,72.38,3,w
1578958,2350,159,129.03203,35.10468,0.0,0.0,0.0,0.0,0.0,-0.00091,...,259.36253,258.24370,256.93511,247.71243,164.15158,40.96396,-8.99480,69.56,3,w
1578959,2350,165,126.38121,34.81689,0.0,0.0,0.0,0.0,0.0,-0.00030,...,264.89757,265.30934,263.65062,254.37876,162.76137,40.67788,-8.86160,38.00,3,w

In [70]:
df4 = pd.get_dummies(df4, columns = ['season'])

In [71]:
df4

,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,눈/얼음_가시밴드,...,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,season_a,season_s,season_su,season_w
0,0,13,126.16000,33.30000,0.0,0.0,0.0,0.0,0.0,0.00000,...,259.10334,165.17963,38.96359,-9.50910,71.00,0,0,0,0,1
1,0,105,128.89098,37.75147,0.0,0.0,0.0,0.0,0.0,0.00030,...,256.99670,163.20549,43.95463,-9.40930,26.04,3,0,0,0,1
3,0,112,126.62490,37.47772,0.0,0.0,0.0,0.0,0.0,0.00000,...,251.00820,162.39995,43.67046,-9.37422,68.99,3,0,0,0,1
4,0,115,130.89864,37.48129,0.0,0.0,0.0,0.0,0.0,0.00060,...,253.25397,164.19725,43.74521,-9.45200,222.80,4,0,0,0,1
5,0,131,127.44066,36.63924,0.0,0.0,0.0,0.0,0.0,0.00000,...,254.98555,163.46199,42.69599,-9.42573,58.70,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578955,2350,146,127.11900,35.84080,0.1,0.0,0.0,0.0,0.0,0.00000,...,254.82929,162.52921,41.81018,-8.87355,62.90,3,0,0,0,1
1578956,2350,152,129.33472,35.58250,0.0,0.0,0.0,0.0,0.0,-0.00060,...,249.08495,163.96606,41.52495,-8.99640,82.00,2,0,0,0,1
1578957,2350,156,126.89158,35.17294,0.0,0.0,0.0,0.0,0.0,0.00000,...,250.92709,162.84572,41.04849,-8.87987,72.38,3,0,0,0,1
1578958,2350,159,129.03203,35.10468,0.0,0.0,0.0,0.0,0.0,-0.00091,...,247.71243,164.15158,40.96396,-8.99480,69.56,3,0,0,0,1
1578959,2350,165,126.38121,34.81689,0.0,0.0,0.0,0.0,0.0,-0.00030,...,254.37876,162.76137,40.67788,-8.86160,38.00,3,0,0,0,1

In [72]:
df4 = df4.replace(-999, np.nan)

In [73]:
imputer = IterativeImputer(random_state=0)
imputer.fit(df4)
df5 = imputer.transform(df4)
df5

array([[0.0000000e+00, 1.3000000e+01, 1.2616000e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [0.0000000e+00, 1.0500000e+02, 1.2889098e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [0.0000000e+00, 1.1200000e+02, 1.2662490e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       ...,
       [2.3500000e+03, 1.5600000e+02, 1.2689158e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [2.3500000e+03, 1.5900000e+02, 1.2903203e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00],
       [2.3500000e+03, 1.6500000e+02, 1.2638121e+02, ..., 0.0000000e+00,
        0.0000000e+00, 1.0000000e+00]])

In [77]:
ite_imputer2 = pd.DataFrame(df5)

In [78]:
ite_imputer2.columns = ['시간_분','관측소지점','위도','경도','자외선지수','파랑_가시밴드','초록_가시밴드','빨강_가시밴드','식생_가시밴드',
                       '눈/얼음_가시밴드','권운_밴드','야간안개/하층운_밴드','상층_수증기_밴드','중층_수증기_밴드','하층_수증기_밴드',
                       '구름상_밴드','오존_밴드','대기창_밴드','깨끗한_대기창_밴드','오염된_대기창_밴드','이산화탄소_밴드','태양천정각',
                       '위성천정각','대기외일사량','관측고도','지면타입','season_a','season_s','season_su','season_w']

In [79]:
ite_imputer2

,시간_분,관측소지점,위도,경도,자외선지수,파랑_가시밴드,초록_가시밴드,빨강_가시밴드,식생_가시밴드,눈/얼음_가시밴드,...,이산화탄소_밴드,태양천정각,위성천정각,대기외일사량,관측고도,지면타입,season_a,season_s,season_su,season_w
0,0.0,13.0,126.16000,33.30000,0.0,0.0,0.0,0.0,0.0,0.00000,...,259.10334,165.17963,38.96359,-9.50910,71.00,0.0,0.0,0.0,0.0,1.0
1,0.0,105.0,128.89098,37.75147,0.0,0.0,0.0,0.0,0.0,0.00030,...,256.99670,163.20549,43.95463,-9.40930,26.04,3.0,0.0,0.0,0.0,1.0
2,0.0,112.0,126.62490,37.47772,0.0,0.0,0.0,0.0,0.0,0.00000,...,251.00820,162.39995,43.67046,-9.37422,68.99,3.0,0.0,0.0,0.0,1.0
3,0.0,115.0,130.89864,37.48129,0.0,0.0,0.0,0.0,0.0,0.00060,...,253.25397,164.19725,43.74521,-9.45200,222.80,4.0,0.0,0.0,0.0,1.0
4,0.0,131.0,127.44066,36.63924,0.0,0.0,0.0,0.0,0.0,0.00000,...,254.98555,163.46199,42.69599,-9.42573,58.70,3.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525748,2350.0,146.0,127.11900,35.84080,0.1,0.0,0.0,0.0,0.0,0.00000,...,254.82929,162.52921,41.81018,-8.87355,62.90,3.0,0.0,0.0,0.0,1.0
1525749,2350.0,152.0,129.33472,35.58250,0.0,0.0,0.0,0.0,0.0,-0.00060,...,249.08495,163.96606,41.52495,-8.99640,82.00,2.0,0.0,0.0,0.0,1.0
1525750,2350.0,156.0,126.89158,35.17294,0.0,0.0,0.0,0.0,0.0,0.00000,...,250.92709,162.84572,41.04849,-8.87987,72.38,3.0,0.0,0.0,0.0,1.0
1525751,2350.0,159.0,129.03203,35.10468,0.0,0.0,0.0,0.0,0.0,-0.00091,...,247.71243,164.15158,40.96396,-8.99480,69.56,3.0,0.0,0.0,0.0,1.0
1525752,2350.0,165.0,126.38121,34.81689,0.0,0.0,0.0,0.0,0.0,-0.00030,...,254.37876,162.76137,40.67788,-8.86160,38.00,3.0,0.0,0.0,0.0,1.0

In [81]:
from sklearn.model_selection import train_test_split # 분할

from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error# mse
from sklearn.metrics import r2_score

In [99]:
X1 = ite_imputer2.drop(['자외선지수'], axis=1)
y1 = ite_imputer2['자외선지수']

In [100]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1,y1, test_size=0.3,random_state=42)

In [101]:
model_1 = ElasticNet(alpha = 0.7, l1_ratio=0.5)
model_2 = ElasticNet(alpha = 0.5, l1_ratio=0.5)
model_3 = ElasticNet(alpha = 0.3, l1_ratio=0.5)
model_4 = ElasticNet(alpha = 0.1, l1_ratio=0.5)
model_5 = ElasticNet(alpha = 0.05, l1_ratio=0.5)

In [102]:
model_1.fit(X1_train, y1_train)
model_2.fit(X1_train, y1_train)
model_3.fit(X1_train, y1_train)
model_4.fit(X1_train, y1_train)
model_5.fit(X1_train, y1_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.454e+03, tolerance: 4.173e+02
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.812e+04, tolerance: 4.173e+02
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

ElasticNet(alpha=0.05)

In [104]:
y_pred = model_1.predict(X1_test)
print('RMSE:', mean_squared_error(y_pred, y1_test, squared = False))
print('r2_score: ', r2_score(y1_test, y_pred))

RMSE: 1.285414025467457
r2_score:  0.5761361860448784

In [110]:
y_pred = model_2.predict(X1_test)
print('RMSE:', mean_squared_error(y_pred, y1_test, squared = False))
print('r2_score: ', r2_score(y1_test, y_pred))

RMSE: 1.2685863828658126
r2_score:  0.5871613362502851

In [111]:
y_pred = model_3.predict(X1_test)
print('RMSE:', mean_squared_error(y_pred, y1_test, squared = False))
print('r2_score: ', r2_score(y1_test, y_pred))

RMSE: 1.25360087203786
r2_score:  0.5968572591105927

In [109]:
y_pred = model_4.predict(X1_test)
print('RMSE:', mean_squared_error(y_pred, y1_test, squared = False))
print('r2_score: ', r2_score(y1_test, y_pred))

RMSE: 1.227114757919307
r2_score:  0.6137125208892977

In [112]:
y_pred = model_5.predict(X1_test)
print('RMSE:', mean_squared_error(y_pred, y1_test, squared = False))
print('r2_score: ', r2_score(y1_test, y_pred))

RMSE: 1.2203524159483032
r2_score:  0.6179582695167686